.chat-box-container {
  flex-direction: column;
}

.chat-messages-container {
  min-height: 400px;
}

.chat-input-container {
  border-top: 1px solid #ddd;
}

.chat-input {
  width: 80%;
  border: 1px solid rgb(136, 206, 209);
  border-radius: 10px;
  padding: 5px;
}

.chat-input-send-btn {
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.chat-message-row-sender {
  text-align: right;

  span{
    background-color: rgb(136, 206, 209);
  }
}

.chat-message-row-recipient {
  span{
    background-color:#ddd;
  }
}

.chat-message-item {
  padding: 5px;
  border-radius: 4px;
}

.chat-message-datetime {
  font-size: 11px;
}